* {
    box-sizing: border-box;
  }

input:focus {
    border: 3px solid gray;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:middle;
    margin-left: 10%;
}

.gender {
    display: inline-block;
}
